@model LibraryMVCProjects.Models.EntityFramework.BookTypes
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydet", "BookType", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="font-size:large">

        @Html.LabelFor(m => m.Type)
        @Html.TextBoxFor(m => m.Type)
      @Html.ValidationMessageFor(m=>m.Type)


    </div>
   
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Kaydet</button>
}


